.body {
  height: 90vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}

.loading {
  display: flex;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #22262c;
  background-size: 300% 100%;
  justify-content: center;
  animation: l1 1s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 20px;
}

@keyframes l1 {
  0% {
    background-position: right;
  }
}

.loading span {
  font-size: 14px;
  color: rgb(91, 97, 112);
}

.allMposCont {
  width: 100%;
  margin: auto;
  background-color: rgb(235, 235, 235);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  height: 65%;
  display: flex;
  flex-direction: column;
}

table,
thead,
tbody,
tr,
td {
  border: 1px solid #00101c;
}

.mposFilterCon select {
  background-color: #00101c;
  padding: 5px 20px 5px 2px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 12px;
  color: rgb(255, 255, 255);
  outline: none;
}

.mposFilterCon select option {
  font-size: 12px;
  color: black;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
}

.dashboard {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  height: 30%;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.box {
  background-color: #00101c;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
}

.box1 {
  flex: 0.5;
}

.box2 {
  flex: 1.2;
}

.incomes-container {
  display: flex;
  flex-direction: column;
}

.incomes-container div .span {
  color: #a2d8ff;
  margin-bottom: 5px;
  font-size: 16px;
}

.incomes-container div {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.incomes-container div h1 {
  font-size: 30px;
  margin: 0;
  color: white;
}

h1 {
  font-size: 36px;
}

.outerDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(214, 214, 214);
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  border: 1px solid #00101c;
}

/* Scrollbar Styling for WebKit Browsers (Chrome, Edge, Safari) */
.outerDiv::-webkit-scrollbar,
.box::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

.outerDiv::-webkit-scrollbar-track,
.box::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}

.outerDiv::-webkit-scrollbar-thumb,
.box::-webkit-scrollbar-thumb {
  background: #0675c3; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.outerDiv::-webkit-scrollbar-thumb:hover,
.box::-webkit-scrollbar-thumb:hover {
  background: #0675c3; /* Hover color for the thumb */
}

/* Scrollbar Styling for Firefox */
.outerDiv,
.box {
  scrollbar-width: 12px; /* Thin scrollbar */
  scrollbar-color: #0675c3 #00101c; /* Thumb color and track color */
}

.innerDiv {
  width: 100%;
}

.outerDiv .innerDiv table {
  width: 100%;
  font-size: 12px;
  min-width: max-content;
}

.innerDiv select,
.innerDiv option,
.innerDiv input {
  background: none;
  border: none;
  outline: none;
  font-size: 10px;
  color: rgb(255, 255, 255);
}

.filter-thead select {
  color: rgb(161, 161, 161);
}

.filter-thead option {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

.innerDiv .filter-thead tr {
  background: none;
}

.innerDiv .filter-thead tr td {
  border: 1px solid rgb(201, 201, 201);
}

.innerDiv .filter-thead tr td input {
  color: black;
}

.innerDiv .filter-thead tr td input::placeholder {
  color: rgb(161, 161, 161);
}

.innerDiv thead tr {
  background-color: #00101c;
  color: #fff;
  font-size: 12px;
}

.specialTR {
  height: 30px;
}

.innerDiv thead tr td {
  border-right: 1px solid #fff;
  padding: 5px;
}

.innerDiv tbody {
  position: relative;
}

.innerDiv tbody tr td {
  padding: 5px;
  font-size: 12px;
}

.addBtnCont {
  margin-top: 10px;
  width: 100%;
  text-align: end;
}

.addBtnCont button {
  background-color: #0675c3;
  border-radius: 6px;
}

.rightbd {
  border: none !important;
}

.totals {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

@media (max-width: 1600px) {
  .incomes-container div h1 {
    font-size: 22px;
    margin: 0;
    color: white;
  }
}

@media (max-width: 1366px) {
  .body {
    width: 96%;
    bottom: 0;
  }

  .box {
    background-color: #00101c;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .incomes-container div .span {
    color: #a2d8ff;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .incomes-container div h1 {
    font-size: 22px;
    margin: 0;
    color: white;
  }
}

@media (max-width: 1000px) {
  .box {
    overflow: visible;
  }

  .dashboard {
    overflow: scroll;
  }

  .allMposCont h1 {
    font-size: 28px;
  }

  .allMposCont button {
    font-size: 14px !important;
  }
}
