.navbar {
  width: 100%;
  border: none;
  margin-top: 150px;
}

.navbar .innerNavv {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
}

.navbar a {
  padding: 0;
  background: none;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  /* background-color: #616161; */
  outline: none;
  color: #fff;
  padding: 10px 0px 10px 0px;
}

.bd {
  border-bottom: 1px solid #616161;
  box-sizing: border-box;
}

.navbar .active {
  padding: 0;
  background: none;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  background-color: #0675c3;
  color: #ffffff;
  padding: 10px 0px 10px 10px;
  box-sizing: border-box;
}

@media print {
  .noPrint {
    display: none !important;
  }
}
