:root {
  margin: 0;
  padding: 0;
  font-family: calibri;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-Inv {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

.innerCont {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.innerContInv {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 30px;
  left: 48px;
  cursor: pointer;
  z-index: 11;
}

.menu-icon span {
  display: block;
  height: 2px;
  border-radius: 10px;
  background: #000000;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.menu-icon .ln1,
.menu-icon .ln3 {
  width: 40px;
  height: 3px;
}

.menu-icon .ln2 {
  width: 22px;
  height: 3px;
}

#check:checked + .menu-icon .ln1 {
  transform: rotate(45deg) translate(5px, 4px);
  width: 35px;
  background: #0675c3;
}

#check:checked + .menu-icon .ln3 {
  transform: rotate(-45deg) translate(4px, -4px);
  width: 35px;
  background: #0675c3;
}

#check:checked + .menu-icon .ln2 {
  display: none;
}

#check:checked + .menu-icon {
  padding-top: 5px;
}

#check {
  display: none;
}

.navbarCon {
  display: flex;
  background-color: #00101cec;
  position: absolute;
  width: 22%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: -30%;
  z-index: 10;
  transition: 0.5s ease;
}

.navbarConOut {
  left: 0;
  transition: 0.5s ease;
}

.navbarCon .innerNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  position: relative;
}

.displayComp {
  width: 85% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
}

.displayCompInv {
  width: 100%;
  margin: auto;
  top: 100px;
  /* background-color: green; */
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: start;
}

.navbarCon span {
  padding: 0;
  background: none;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  /* background-color: #616161; */
  outline: none;
  color: #fff;
  padding: 10px 0px 10px 10px;
}

.bd {
  border-bottom: 1px solid #616161;
  box-sizing: border-box;
}

.navbarCon .active {
  padding: 0;
  background: none;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0px 10px 20px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  border: none;
  margin-top: 150px;
}

.navbar .innerNavv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
}

.navbar a {
  padding: 0;
  background: none;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  /* background-color: #616161; */
  outline: none;
  color: #fff;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #9dd1f7;
  box-sizing: border-box;
}

.navbar .active {
  background-color: #0675c3;
  color: #ffffff;
}

@media print {
  .noPrint {
    display: none !important;
  }

  .menu-icon {
    display: none !important;
  }

  /* .displayCompInv {
    background-image: url(./assets/letterhead.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  } */

  .displayComp::-webkit-scrollbar {
    display: none;
  }

  .main-Inv {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
  }

  .innerContInv {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    overflow: visible;
  }

  .displayCompInv {
    width: 100%;
    height: 100%;
    margin: auto;
    top: 50px;
    /* background-color: green; */
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1366px) {
  .menu-icon {
    left: 28px;
    gap: 3px;
  }

  .navbarCon {
    width: 18%;
  }

  .navbar .innerNavv {
    padding-left: 32px;
  }

  .menu-icon .ln1,
  .menu-icon .ln3 {
    width: 30px;
    height: 3px;
  }

  .menu-icon .ln2 {
    width: 15px;
    height: 3px;
  }

  #check:checked + .menu-icon .ln1 {
    transform: rotate(45deg) translate(5px, 4px);
    width: 25px;
    background: #0675c3;
  }

  #check:checked + .menu-icon .ln3 {
    transform: rotate(-45deg) translate(4px, -4px);
    width: 25px;
    background: #0675c3;
  }
}
