#root {
  font-family: calibri;
}

.center {
  text-align: center;
  padding: 5px 5px;
}

.right {
  text-align: right;
  padding: 5px 5px;
}

.left {
  padding: 5px 5px;
}

main {
  width: 98%;
  margin: auto;
  box-sizing: border-box;
}

.invoiceHeader {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 9px;
  color: white;
  margin-top: 10px;
  padding: 4px 20px;
  box-sizing: border-box;
}

.invoiceHeader .invoiceNoCon {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.invoiceHeader .invoiceNoCon div {
  display: flex;
  gap: 5px;
}

.invoiceHeader .invoiceNoCon div input {
  background-color: #fcfcfc;
  border: none;
  font-size: 9px;
  outline: none;
  color: #000000;
}

.hidden {
  display: none;
}

@media print {
  .noPrint {
    display: none !important;
  }
}

.invoiceHeader .invoiceNoCon div span {
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 0px 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  user-select: none;
}

.invoiceHeader select {
  font-family: calibri;
  background: none;
  color: #fff;
  border: none;
  font-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  outline: none;
  text-transform: uppercase;
}

.invoiceHeader select option {
  font-size: 9px;
  font-family: calibri;
  color: black;
}

main table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

main table thead,
main table tbody {
  width: 100%;
  font-size: 9px;
  line-height: 10px;
  box-sizing: border-box;
  text-align: center;
}

main table th,
main table td {
  text-align: left;
}

.emptyDiv {
  border-bottom: 1px solid #000000;
}

.emptyDiv td {
  height: 120px;
  border: none;
}

.totalDiv td {
  border: none;
}

.emptyDiv .bd,
.totalDiv .bd {
  border-left: 1px solid #000000;
}

main .amountInWords {
  width: 99%;
  margin-top: 30px;
  line-height: 10px;
}

main .amountInWords p {
  font-size: 9px;
  font-style: italic;
  font-weight: bold;
}

main .amountInWords input {
  width: 100%;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 9px;
  color: #000000;
  outline: 0px;
}

main .salutation {
  font-size: 10px;
  line-height: 10px;
}

main .salutation img {
  width: 100px;
  margin: -8px 0px -10px 0px;
}
