#root {
  font-family: calibri;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  color: #000000;
}

body {
  background-color: #fff;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.fileName {
  margin: 60px auto 50px auto;
  /* background-color: red; */
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  box-sizing: border-box;
}

.fileName div {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100%;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
}

.fileName button {
  margin: 0;
  padding: 22px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  outline: none;
  font-size: 11px;
  gap: 10px;
  box-sizing: border-box;
}

.fileName button img {
  height: 80%;
}

/* .main-main {
  background-color: red;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.main-main2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
} */

.center {
  text-align: center;
  padding: 5px 5px;
}

.right {
  text-align: right;
  padding: 5px 5px;
}

.left {
  padding: 5px 5px;
}

.invoiceCon {
  width: 85%;
}

main {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.invoiceHeader {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto 0px auto;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  padding: 4px 20px;
  box-sizing: border-box;
}

.invTr {
  background: none;
  color: #000000;
}

.invoiceHeader .invoiceNoCon {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.invoiceHeader .invoiceNoCon div {
  display: flex;
  gap: 5px;
}

.invoiceHeader .invoiceNoCon div input {
  background-color: #fcfcfc;
  border: none;
  font-size: 12px;
  outline: none;
  color: #000000;
}

.hidden {
  display: none;
}

@media print {
  .noPrint {
    display: none !important;
  }

  .helpContainer {
    display: none;
  }

  .minimizedHelp {
    display: none;
  }

  .minHelpDown {
    display: none;
  }

  main .salutation .img {
    opacity: 100% !important;
  }

  body {
    background: none;
  }

  .fileName {
    display: none;
  }

  .invoiceHeader {
    font-size: 10px !important;
  }

  .invoiceHeader .invoiceNoCon div input {
    font-size: 10px !important;
  }

  .invoiceHeader select {
    font-size: 10px !important;
  }

  .invoiceHeader select option {
    font-size: 10px !important;
  }

  main table thead,
  main table tbody {
    font-size: 10px !important;
  }

  main .amountInWords p {
    font-size: 10px !important;
  }

  main .amountInWords h3 {
    font-size: 10px !important;
  }

  main .salutation {
    font-size: 11px !important;
  }
}

/* .invoiceHeader .invoiceNoCon div span {
  font-size: 11px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 0px 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  user-select: none;
} */

.invoiceHeader select {
  font-family: calibri;
  background: none;
  color: #fff;
  border: none;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  outline: none;
  text-transform: uppercase;
}

.invoiceHeader select option {
  font-size: 12px;
  font-family: calibri;
  color: black;
}

main table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

main table thead,
main table tbody {
  width: 100%;
  font-size: 12px;
  line-height: 10px;
  box-sizing: border-box;
  text-align: center;
}

main table th,
main table td {
  text-align: left;
}

.emptyDiv {
  border-bottom: 1px solid #000000;
}

.emptyDiv td {
  border: none;
}

.totalDiv td {
  border: none;
}

.emptyDiv .bd,
.totalDiv .bd {
  border-left: 1px solid #000000;
}

main .amountInWords {
  width: 99%;
  box-sizing: border-box;
  margin-top: 30px;
  line-height: 10px;
}

main .amountInWords p {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

main .amountInWords h3 {
  width: 100%;
  border-radius: 0px;
  padding: 0px 0px 4px 0px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 12px;
  color: #000000;
  outline: 0px;
}

main .salutation {
  margin-top: 30px;
  font-size: 13px;
  line-height: 10px;
}

main .salutation .img {
  opacity: 0%;
  width: 100px;
  height: 40px;
  background-image: url(./assets/Signature.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  margin: -8px 0px -10px 0px;
}

.refresh {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .mainHelp {
    width: 55%;
  }
}
